/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800"); */
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


* {
  box-sizing: border-box;
}

body {
  /* background: #f6f5f7; */
  background-image: url(/public/image/Signin.jpg);
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Agbalumo", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}